/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #eaf1f2;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(63, 79, 221);
    border-radius: 20px;
    border: 3px solid #eaf1f2;
}

.filtroEstado,.fechaInicio, .fechaFin{
    width: 20%;
}

.borrarFiltro{
    width: 79%;
}

.rangoFechas{
    width: 70%;
    gap: 3%;

}

